SUBSYSTEM=="video4linux",KERNELS=="2-1.1",ATTR{index}=="0",SYMLINK+="camUSBhub0-0",ENV{ID_V4L_PRODUCT}="camUSBhub0-0",ENV{ID_MODEL_ENC}="camUSBhub0-0",ENV{ID_SERIAL}="camUSBhub0-0",ENV{NAME}="camUSBhub0-0",ATTR{name}="camUSBhub0-0"
SUBSYSTEM=="video4linux",KERNELS=="2-1.1",ATTR{index}=="1",SYMLINK+="camUSBhub0-1",ENV{ID_V4L_PRODUCT}="camUSBhub0-1",ENV{ID_MODEL_ENC}="camUSBhub0-1",ENV{ID_SERIAL}="camUSBhub0-1",ENV{NAME}="camUSBhub0-1",ATTR{name}="camUSBhub0-1"
SUBSYSTEM=="video4linux",KERNELS=="2-1.2",ATTR{index}=="0",SYMLINK+="camUSBhub1-0",ENV{ID_V4L_PRODUCT}="camUSBhub1-0",ENV{ID_MODEL_ENC}="camUSBhub1-0",ENV{ID_SERIAL}="camUSBhub1-0",ENV{NAME}="camUSBhub1-0",ATTR{name}="camUSBhub1-0"
SUBSYSTEM=="video4linux",KERNELS=="2-1.2",ATTR{index}=="1",SYMLINK+="camUSBhub1-1",ENV{ID_V4L_PRODUCT}="camUSBhub1-1",ENV{ID_MODEL_ENC}="camUSBhub1-1",ENV{ID_SERIAL}="camUSBhub1-1",ENV{NAME}="camUSBhub1-1",ATTR{name}="camUSBhub1-1"

