KERNEL=="video0",SUBSYSTEM=="video4linux",KERNELS=="2-1.1",SYMLINK+="camUSBhub0-0",ENV{ID_V4L_PRODUCT}="camUSBhub0-0",ENV{ID_MODEL_ENC}="camUSBhub0-0",ENV{ID_SERIAL}="camUSBhub0-0"
KERNEL=="video1",SUBSYSTEM=="video4linux",KERNELS=="2-1.1",SYMLINK+="camUSBhub0-1",ENV{ID_V4L_PRODUCT}="camUSBhub0-1",ENV{ID_MODEL_ENC}="camUSBhub0-1",ENV{ID_SERIAL}="camUSBhub0-1"
KERNEL=="video2",SUBSYSTEM=="video4linux",KERNELS=="2-1.2",SYMLINK+="camUSBhub1-0",ENV{ID_V4L_PRODUCT}="camUSBhub1-0",ENV{ID_MODEL_ENC}="camUSBhub1-0",ENV{ID_SERIAL}="camUSBhub1-0"
KERNEL=="video3",SUBSYSTEM=="video4linux",KERNELS=="2-1.2",SYMLINK+="camUSBhub1-1",ENV{ID_V4L_PRODUCT}="camUSBhub1-1",ENV{ID_MODEL_ENC}="camUSBhub1-1",ENV{ID_SERIAL}="camUSBhub1-1"

